html{
    background-color: #f5f5f5;
}
.title{
    display: inline-block;
    vertical-align: middle;
}
header{
    height: 90px ;
    background-color: white;
}
main{
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 4%;
}
.spunta{
    
    color:green;
    border-style: solid;
    border-color: green;
    border-radius: 50%;
    border-width: 1px; 
    padding:1px,3px ;  
    margin-right: 6px;
    margin-left: 4px;
    font-size: 10px;
}
.tendine{
    margin-top: 25px;
    margin-left: 35px;
    
    ;
}
.dafare{
    margin-top: 5px;
    margin-bottom: 5px;
}